.Main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Main_button {
    color: red;
    border: 1px solid red;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    max-width: 130px;
}

.Main_text {
    color: white;
}

.Main_button_white {
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 25px;
}

.Main_button:disabled {
    cursor: not-allowed;
}

.Main_input {
    padding: 10px;
    margin: 10px;
    width: 20%;
}