.Paginator_button {
    border: 1px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.Paginator_button:disabled {
    cursor: not-allowed;
}

.Paginator_text {
    color: white;
}